body {
    font-family: "Onest", sans-serif;
    font-weight: 300;
  font-style: normal;
    margin: 0;
    padding: 0;
   
}
h1,h2{
    font-family: "Palette Mosaic", system-ui;
    color: white;
    font-weight: lighter;


}
h1{font-size: 2em;
margin: 0;}

p,li{ 
    font-weight: 300;
    color: white;
}

.home-header-background {
    background-image: url('../images/utensils.webp'); 
   
    background-position: top;
    
 
}

.header-content p {
    font-size: 1.5em;
    margin-top: 10px;
    letter-spacing: 3px;
}
#header-text {
    background-color: rgba(0, 0, 0, 0.629);
    padding:100px;
}
#home-header {
    background-color: hsl(21.6deg 52.73% 19.27%);
    color: white;
    text-align: center;
    padding: 30px 0;
    position: relative;


}
.main-section{
    background-color: #a37213b0;
    padding: 50px 0;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    padding: 0 20px;
}
#home{
    background-color: #9a1d1da1;
    
}
#home p,#home h2{
    color: white;
}

.grid-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(0 0 0 / 92%);
    overflow: hidden;
}

.grid-item img {
    object-fit: contain;
    
}


    .grid-img {
        width: 100%; 
        height: auto; 
       
      
       
    }


.grid-item h2 {
    
    margin-top: 10px;
    font-size: large;
    color: #16552c;
}


.grid-item p {
    font-size: 1em;
    color: #333;
    font-weight: 400;
}

.welcome-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    align-items: stretch;
    
  }

  .benvenuti {
    flex: 1; 
   background-color: #b21a1adb;
    padding: 20px;
  }
  .benvenuti h2{
    font-size: 2rem;
  }
  
  
  .a-tavola-section {
  
    display: flex;
    
    justify-content: space-between;
    padding: 20px;
    background-color:#57806a;
    gap: 20px; 
    flex:3;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .a-tavola-image img {
    max-width: 300px; 
    height: auto;
    border-radius: 10px;
    float: left; 
  margin-right: 20px; 
  }
  
  .a-tavola-text {
    flex: 1; 
    padding-left: 20px;
  }
  
  .a-tavola-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .a-tavola-text p {
    
    line-height: 1.6;
    font-weight: 700;
  }
/* 
footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
.social-icon {
    color: #fff;
    margin: 0 10px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #ff6347; /* Change color on hover */
  }

